@charset "UTF-8";
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
  border:0;
  font-size:100%;
  font:inherit;
  margin:0;
  padding:0;
  vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
  display:block;
}

body{
  line-height:1;
}

ol,ul{
  list-style:none;
}

blockquote,q{
  quotes:none;
}

blockquote:after,blockquote:before,q:after,q:before{
  content:"";
  content:none;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}
html{
  font-size:62.5%;
  scroll-behavior:smooth;
  scroll-padding-top:9rem;
}

body{
  color:#333;
  font-family:"M PLUS 1p", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", YuGothic, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif;
  font-size:1.4rem;
  font-style:normal;
  font-weight:400;
  letter-spacing:.1em;
  line-height:1.47;
}

*,:after,:before{
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

a:active,a:hover,a:link,a:visited{
  text-decoration:none;
}

:focus{
  outline:none;
}

ol li,p,ul li{
  text-align:justify;
  text-justify:inter-ideograph;
  word-break:break-all;
}

img,picture{
  display:block;
}

img{
  width:100%;
}

b,strong{
  font-weight:600;
}

button,input,textarea{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  background-color:initial;
  border:none;
}

main{
  margin-top:13rem;
}
main.p-fp{
  margin-top:9rem;
}
main.single-products{
  margin-top:9.8rem;
}

.l-base,.l-wide{
  margin-left:15px;
  margin-right:15px;
}

.c-btn{
  -webkit-transition:opacity .3s linear;
  transition:opacity .3s linear;
}
.c-btn:hover{
  opacity:.7;
}

.c-h1{
  color:#4d4d4d;
  font-size:2.2rem;
  margin-bottom:3rem;
  text-align:center;
}
.c-h1.-bdb{
  border-bottom:1px solid #e3e1db;
  padding-bottom:3rem;
}

.c-link-txt{
  color:#4d4d4d;
  position:relative;
  text-decoration:underline;
}
.c-link-txt:before{
  background:#4d4d4d;
  bottom:-.5rem;
  content:"";
  height:2px;
  left:0;
  position:absolute;
  -webkit-transition:width .3s;
  transition:width .3s;
  width:0;
}
.c-link-txt:hover:before{
  width:100%;
}

.c-bold{
  font-weight:bold;
}

.c-new-badge{
  color:#cb0014;
  display:inline-block;
  font-size:1rem;
  left:3px;
  line-height:1;
}

.c-products__list{
  display:grid;
  gap:2rem;
  grid-template-columns:repeat(2, 1fr);
  margin-top:4rem;
}
.c-products__item a{
  display:block;
  -webkit-transition:opacity .3s;
  transition:opacity .3s;
}
.c-products__item a:hover{
  opacity:.7;
}
.c-products__img img{
  display:block;
  height:auto;
  width:100%;
}
.c-products__title{
  color:#4d4d4d;
  font-size:1.4rem;
  line-height:1.5;
  margin-top:1rem;
}
.c-products__pagination{
  gap:1rem;
  margin-top:4rem;
}
.c-products__pagination,.c-products__pagination .page-numbers{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.c-products__pagination .page-numbers{
  border:1px solid #e3e1db;
  color:#4d4d4d;
  font-size:1.6rem;
  height:4rem;
  text-decoration:none;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  width:4rem;
}
.c-products__pagination .page-numbers:hover{
  background:#e3e1db;
}
.c-products__pagination .page-numbers.current{
  background:#4d4d4d;
  border-color:#4d4d4d;
  color:#fff;
}
.c-products__pagination .page-numbers.next,.c-products__pagination .page-numbers.prev{
  position:relative;
}
.c-products__pagination .page-numbers.next:before,.c-products__pagination .page-numbers.prev:before{
  border-right:1px solid #4d4d4d;
  border-top:1px solid #4d4d4d;
  content:"";
  height:.8rem;
  left:50%;
  position:absolute;
  top:50%;
  width:.8rem;
}
.c-products__pagination .page-numbers.next:hover:before,.c-products__pagination .page-numbers.prev:hover:before{
  opacity:.7;
}
.c-products__pagination .page-numbers.prev:before{
  -webkit-transform:translate(-25%, -50%) rotate(-135deg);
          transform:translate(-25%, -50%) rotate(-135deg);
}
.c-products__pagination .page-numbers.next:before{
  -webkit-transform:translate(-75%, -50%) rotate(45deg);
          transform:translate(-75%, -50%) rotate(45deg);
}
.c-products__pagination .dots{
  padding:0 1rem;
}
.c-products__no-results{
  color:#4d4d4d;
  font-size:1.6rem;
  text-align:center;
}

.c-category__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:1rem;
  margin-bottom:.5rem;
}
.c-category__list li,.c-category__list li a{
  display:inline-block;
}
.c-category__list li a{
  background-color:#fff;
  border:1px solid #e5e5e5;
  border-radius:3rem;
  color:#4d4d4d;
  cursor:pointer;
  font-size:1.4rem;
  line-height:1;
  padding:1.2rem 1.8rem;
  text-align:center;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  white-space:nowrap;
}
.c-category__list li a:hover{
  background:#e3e1db;
}

.p-hdr{
  background:#fff;
  border-bottom:1px solid #e3e1db;
  left:0;
  position:fixed;
  top:0;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  width:100%;
  z-index:10;
}
.p-hdr__slide{
  background:#e3e1db;
  height:3.6rem;
  padding:0 2rem;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-hdr__slide,.p-hdr__slide ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.p-hdr__slide ul li{
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  font-size:1rem;
          justify-content:center;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-hdr__inner,.p-hdr__slide ul li{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.p-hdr__inner{
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
  height:5.4rem;
          justify-content:space-between;
}
.p-hdr__inner nav{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
.p-hdr__logo img{
  height:2rem;
}

.p-gnav{
  display:none;
}
.p-gnav li a{
  color:#4d4d4d;
  display:inline-block;
  position:relative;
  white-space:nowrap;
}
.p-gnav li a:before{
  background:#4d4d4d;
  bottom:-.5rem;
  content:"";
  height:2px;
  left:0;
  position:absolute;
  -webkit-transition:width .3s;
  transition:width .3s;
  width:0;
}
.p-gnav li a:hover:before{
  width:100%;
}
.p-gnav__new{
  color:#cb0014;
  display:inline-block;
  font-size:1rem;
  left:3px;
  line-height:1;
  position:absolute;
  top:-15px;
}
.p-hdr__search{
  display:none;
}
.p-hdr__search .p-search-form{
  background:#f3f3f3;
  border-radius:2rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width:28.5rem;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  gap:0 1.5rem;
  padding:0 2rem;
}
.p-hdr__search .p-search-form input[type=text]{
  border:none;
  margin:0;
  padding:.6rem 0;
  -webkit-box-flex:1;
  background:transparent;
      -ms-flex:1;
          flex:1;
  font-family:inherit;
  font-size:1.6rem;
  letter-spacing:.1em;
}
.p-hdr__search .p-search-form button{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  background:url(../images/common/icon_search.svg) no-repeat 50%/contain;
  border:0;
  bottom:0;
  cursor:pointer;
  height:1.6rem;
  margin:0;
  width:1.6rem;
}

button,input[type=submit]{
  cursor:pointer;
}

.p-hdr__site-nav{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:0 1rem;
}
.p-hdr__site-nav .site-nav__link{
  display:inline-block;
}
.p-hdr__site-nav .site-nav__dropdown-link,.p-hdr__site-nav .site-nav__link{
  font-size:13px;
}
.p-hdr__site-nav .site-nav__link--icon{
  display:-webkit-inline-box;
  display:-ms-inline-flexbox;
  display:inline-flex;
  display:inline-block;
  height:30px;
  padding:0;
  text-decoration:none;
  vertical-align:middle;
  width:30px;
}
.p-hdr__site-nav .site-nav__link--icon,.p-hdr__site-nav .site-nav__link--icon .icon{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.p-hdr__site-nav .site-nav__link--icon .icon{
  fill:#333;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.p-hdr__site-nav .site-nav__link--icon .icon-search{
  height:30px;
  padding:4px;
  width:30px;
}
.p-hdr__site-nav .site-nav__link--icon .icon-hamburger{
  height:30px;
  width:30px;
}
.p-hdr__site-nav .site-nav__link--icon .icon__fallback-text{
  clip:rect(0, 0, 0, 0);
  height:1px;
  overflow:hidden;
  position:absolute;
  width:1px;
}
.p-hdr__site-nav .site-nav__link--icon .icon-hamburger path{
  stroke:#333;
}
.p-hdr__site-nav .site-nav__link--icon:hover svg{
  opacity:.7;
}

.p-insta{
  margin-top:8rem;
  padding:0;
}
.p-insta__h1{
  color:#4d4d4d;
  font-size:1.8rem;
  margin-bottom:2.5rem;
  text-align:center;
}
.p-insta #sb_instagram #sbi_images{
  padding:0;
}

.p-ftr{
  background:#e8e7e2;
  padding:5rem 0 2rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-ftr__logo{
  margin-bottom:2rem;
}
.p-ftr__logo a{
  display:block;
  height:4rem;
}
.p-ftr__logo a img{
  height:100%;
  width:auto;
}
.p-ftr__sns{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  gap:0 2rem;
          justify-content:center;
}
.p-ftr__sns li a{
  display:block;
  height:3.5rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-ftr__sns li a:hover{
  opacity:.7;
}
.p-ftr__sns li a img{
  height:100%;
  width:auto;
}
.p-ftr__inner{
  margin-top:5rem;
}
.p-ftr__txt{
  font-size:1.5rem;
  letter-spacing:.15em;
  line-height:1.79;
}
.p-ftr__tel-box{
  border:2px solid #fff;
  color:#4d4d4d;
  margin-top:2rem;
  padding:2.3rem 1rem 1.4rem;
  text-align:center;
}
.p-ftr__tel-box__h1{
  font-size:1.6rem;
  margin-bottom:1.5rem;
  text-align:center;
}
.p-ftr__tel-box__tel{
  color:inherit;
  display:inline-block;
  font-size:3.2rem;
  font-weight:bold;
  margin-bottom:1.5rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-ftr__tel-box__tel:hover{
  opacity:.7;
}
.p-ftr__tel-box__txt{
  font-size:1.4rem;
  text-align:center;
}
.p-ftr__btm-box{
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  margin-top:8rem;
}
.p-ftr__btm-box,.p-ftr__nav{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
.p-ftr__nav li a{
  color:#4d4d4d;
  display:inline-block;
  font-size:1.4rem;
  -webkit-transition:opacity .3s linear;
  transition:opacity .3s linear;
}
.p-ftr__nav li a:hover{
  opacity:.7;
}
.p-ftr__cr{
  color:#4d4d4d;
  font-size:1.4rem;
  margin-top:3rem;
}

.p-calender{
  margin:5rem auto 0;
  width:min(100%, 37.6rem);
}
.p-calender__h1{
  color:#4d4d4d;
  font-size:1.6rem;
  margin-bottom:1rem;
  text-align:center;
}
.p-calender .xo-event-calendar{
  font-family:inherit;
}
.p-calender .xo-event-calendar table{
  border:none;
}
.p-calender .xo-event-calendar table .month-header{
  margin-bottom:2.6rem;
}
.p-calender .xo-event-calendar table .month-header .calendar-caption{
  color:#4d4d4d;
  font-size:1.6rem;
}
.p-calender .xo-event-calendar table button span.nav-next,.p-calender .xo-event-calendar table button span.nav-prev{
  border-color:#4d4d4d;
  height:17px;
  width:17px;
}
.p-calender .xo-event-calendar table thead{
  position:relative;
}
.p-calender .xo-event-calendar table thead:before{
  background:#e3e1db;
  bottom:18px;
  content:"";
  height:1px;
  left:0;
  position:absolute;
  width:100%;
}
.p-calender .xo-event-calendar table thead th{
  border:none;
  color:#4d4d4d;
  font-weight:normal;
  padding:4px 4px 36px !important;
  text-align:right;
}
.p-calender .xo-event-calendar table .month-dayname td{
  border:none;
}
.p-calender .xo-event-calendar table .month-dayname td div.today{
  background:transparent !important;
  color:#4d4d4d;
  font-weight:normal;
  position:relative;
}
.p-calender .xo-event-calendar table .month-dayname td div.other-month{
  opacity:.4;
}
.p-calender .xo-event-calendar table .month-dayname td .holiday-all{
  color:#d00;
}
.p-calender .xo-event-calendar table .month-dayname .custom-today{
  position:relative;
}
.p-calender .xo-event-calendar table .month-dayname .custom-today:before{
  background:#e3e1db;
  content:"";
  height:29px;
  position:absolute;
  right:0;
  top:-1px;
  width:32px;
}
.p-calender .calendars{
  background:#fff;
  color:#4d4d4d;
  padding:3.8rem 3.3rem 2.8rem;
}
.p-calender .holiday-titles .holiday-title{
  color:#4d4d4d;
  font-size:1.6rem;
  margin-top:1rem;
  text-align:right;
}
.p-calender .holiday-titles .holiday-title span{
  display:none;
}

.p-fp__mv__splide{
  margin-top:2rem;
  position:relative;
}
.p-fp__mv__splide .splide__track{
  overflow:hidden;
}
.p-fp__mv__splide .splide__slide{
  position:relative;
}
.p-fp__mv__splide .splide__slide img{
  display:block;
  height:auto;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}
.p-fp__mv__splide .splide__arrows{
  height:0;
  left:0;
  position:absolute;
  top:50%;
  width:100%;
  z-index:1;
}
.p-fp__mv__splide .splide__arrows .splide__arrow{
  background:transparent;
  height:50px;
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  width:40px;
}
.p-fp__mv__splide .splide__arrows .splide__arrow:hover{
  opacity:.7;
}
.p-fp__mv__splide .splide__arrows .splide__arrow svg{
  display:none;
}
.p-fp__mv__splide .splide__arrows .splide__arrow:before{
  border-right:2px solid #fff;
  border-top:2px solid #fff;
  content:"";
  display:block;
  height:30px;
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%) rotate(45deg);
          transform:translate(-50%, -50%) rotate(45deg);
  width:30px;
}
.p-fp__mv__splide .splide__arrows .splide__arrow--next{
  right:15px;
}
.p-fp__mv__splide .splide__arrows .splide__arrow--prev{
  left:15px;
}
.p-fp__mv__splide .splide__arrows .splide__arrow--prev:before{
  -webkit-transform:translate(-50%, -50%) rotate(-135deg);
          transform:translate(-50%, -50%) rotate(-135deg);
}
.p-fp__mv__splide .splide__pagination{
  bottom:-2rem;
}
.p-fp__mv__splide .splide__pagination .splide__pagination__page{
  background:#ccc;
  height:30px;
  margin:0 5px;
  width:30px;
}
.p-fp__mv__splide .splide__pagination .splide__pagination__page.is-active{
  background:#333;
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.p-fp__newproducts{
  margin-right:0;
  margin-top:5rem;
  padding-left:1rem;
}
.p-fp__newproducts__title{
  font-size:1.6rem;
}
.p-fp__newproducts__splide{
  margin-top:2rem;
  position:relative;
}
.p-fp__newproducts__splide .splide__track{
  overflow:hidden;
}
.p-fp__newproducts__splide .splide__slide{
  aspect-ratio:1/1;
  display:grid;
  place-content:center;
  position:relative;
}
.p-fp__newproducts__splide .splide__slide img{
  display:block;
  height:auto;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}
.p-fp__newproducts__splide .splide__arrows{
  height:0;
  left:0;
  position:absolute;
  top:50%;
  width:100%;
  z-index:1;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow{
  background:transparent;
  height:50px;
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  width:40px;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow:hover{
  opacity:.7;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow svg{
  display:none;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow:before{
  border-right:2px solid #fff;
  border-top:2px solid #fff;
  content:"";
  display:block;
  height:30px;
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%) rotate(45deg);
          transform:translate(-50%, -50%) rotate(45deg);
  width:30px;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow--next{
  right:15px;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow--prev{
  left:15px;
}
.p-fp__newproducts__splide .splide__arrows .splide__arrow--prev:before{
  -webkit-transform:translate(-50%, -50%) rotate(-135deg);
          transform:translate(-50%, -50%) rotate(-135deg);
}
.p-fp__newproducts__splide .splide__pagination{
  bottom:-2rem;
}
.p-fp__newproducts__splide .splide__pagination .splide__pagination__page{
  background:#ccc;
  height:30px;
  margin:0 5px;
  width:30px;
}
.p-fp__newproducts__splide .splide__pagination .splide__pagination__page.is-active{
  background:#333;
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.p-fp__newproducts__more{
  margin-top:5rem;
  text-align:center;
}
.p-fp__newproducts__more a{
  color:#4d4d4d;
  font-size:1.4rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-fp__newproducts__more a:hover{
  opacity:.7;
}
.p-fp__products{
  margin-top:5rem;
}
.p-fp__products__title{
  font-size:1.6rem;
}
.p-fp__products__list{
  margin-top:1rem;
}
.p-fp__products__list ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:.8rem;
}
.p-fp__products__list ul>li{
  width:100%;
}
.p-fp__products__list ul>li em{
  background-color:#e8e7e2;
  cursor:pointer;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  display:block;
  font-size:1.4rem;
  font-style:normal;
  padding:1.3rem 1.3rem 1.3rem 2rem;
  position:relative;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-fp__products__list ul>li em:after{
  content:"+";
  position:absolute;
  right:10px;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.p-fp__products__list ul>li em.is-active+.accordion-content{
  margin-top:.8rem;
}
.p-fp__products__list ul>li em.is-active:after{
  -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
}
.p-fp__products__list ul>li em:hover{
  opacity:.7;
}
.p-fp__products__list ul>li>ul{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin-left:3rem;
  max-height:0;
  overflow:hidden;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-fp__products__list ul>li>ul li a{
  background-color:#f5f5f5;
  color:#4d4d4d;
  display:block;
  font-size:1.4rem;
  padding:1.3rem 1.3rem 1.3rem 2rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-fp__products__list ul>li>ul li a:hover{
  opacity:.7;
}

.p-privacypolicy__h1{
  border-bottom:1px solid #e3e1db;
  color:#4d4d4d;
  font-size:2.2rem;
  margin-bottom:3rem;
  padding-bottom:3rem;
  text-align:center;
}
.p-privacypolicy__text{
  font-size:1.6rem;
}
.p-privacypolicy__list{
  list-style:disc;
  margin-left:2rem;
  margin-top:1.5rem;
}
.p-privacypolicy__list li:nth-of-type(n+2){
  margin-top:1.5rem;
}
.p-privacypolicy__text-bottom{
  margin-top:1.5rem;
  text-align:right;
}
.p-privacypolicy__contact{
  border-top:1px solid #e3e1db;
  margin-top:3rem;
  padding-top:3rem;
}
.p-privacypolicy__contact p{
  text-align:center;
}
.p-privacypolicy__contact p:nth-of-type(n+2){
  margin-top:1.5rem;
}

.p-company__dl{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  gap:1rem;
}
.p-company__dl,.p-company__dl dd,.p-company__dl dt{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.p-company__dl dd,.p-company__dl dt{
  font-size:1.6rem;
  padding:1.3rem 0;
  text-align:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.p-company__dl dt{
  background-color:#f5f5f5;
}
.p-company__dl dd{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}

.p-contact__h1{
  border-bottom:1px solid #e3e1db;
  color:#4d4d4d;
  font-size:2.2rem;
  margin-bottom:3rem;
  padding-bottom:3rem;
  text-align:center;
}
.p-contact__form{
  margin-top:4rem;
}
.p-contact__form-text{
  margin-top:3rem;
}
.p-contact__form-att{
  font-size:1.2rem;
  margin-top:3rem;
}
.p-contact__form .cf7__list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin-top:4rem;
}
.p-contact__form .cf7__list dd,.p-contact__form .cf7__list dt{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:1.6rem;
  width:100%;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.p-contact__form .cf7__list dt{
  background-color:#f5f5f5;
  padding:.8rem 1rem;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:reverse;
      -ms-flex-direction:row-reverse;
          flex-direction:row-reverse;
  -webkit-box-pack:end;
      -ms-flex-pack:end;
          justify-content:flex-end;
}
.p-contact__form .cf7__list dt:nth-of-type(n+2){
  margin-top:2rem;
}
.p-contact__form .cf7__list dd{
  margin-top:1rem;
  width:100%;
}
.p-contact__form .cf7__list dd input[type=email],.p-contact__form .cf7__list dd input[type=tel],.p-contact__form .cf7__list dd input[type=text],.p-contact__form .cf7__list dd textarea{
  border:1px solid #e3e1db;
  color:grey;
  height:100%;
  padding:.8rem 1rem;
  width:100%;
}
.p-contact__form .cf7__list dd input[type=email]::-webkit-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]::-webkit-input-placeholder,.p-contact__form .cf7__list dd input[type=text]::-webkit-input-placeholder,.p-contact__form .cf7__list dd textarea::-webkit-input-placeholder{
  opacity:1;
}
.p-contact__form .cf7__list dd input[type=email]:-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]:-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=text]:-ms-input-placeholder,.p-contact__form .cf7__list dd textarea:-ms-input-placeholder{
  opacity:1;
}
.p-contact__form .cf7__list dd input[type=email]::-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]::-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=text]::-ms-input-placeholder,.p-contact__form .cf7__list dd textarea::-ms-input-placeholder{
  opacity:1;
}
.p-contact__form .cf7__list dd input[type=email]::placeholder,.p-contact__form .cf7__list dd input[type=tel]::placeholder,.p-contact__form .cf7__list dd input[type=text]::placeholder,.p-contact__form .cf7__list dd textarea::placeholder{
  color:grey;
  opacity:1;
}
.p-contact__form .cf7__list dd input[type=email]::-moz-placeholder,.p-contact__form .cf7__list dd input[type=tel]::-moz-placeholder,.p-contact__form .cf7__list dd input[type=text]::-moz-placeholder,.p-contact__form .cf7__list dd textarea::-moz-placeholder{
  color:grey;
  opacity:1;
}
.p-contact__form .cf7__list dd input[type=email]:-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]:-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=text]:-ms-input-placeholder,.p-contact__form .cf7__list dd textarea:-ms-input-placeholder{
  color:grey;
}
.p-contact__form .cf7__list dd input[type=email]::-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]::-ms-input-placeholder,.p-contact__form .cf7__list dd input[type=text]::-ms-input-placeholder,.p-contact__form .cf7__list dd textarea::-ms-input-placeholder{
  color:grey;
}
.p-contact__form .cf7__list dd input[type=email]::-webkit-input-placeholder,.p-contact__form .cf7__list dd input[type=tel]::-webkit-input-placeholder,.p-contact__form .cf7__list dd input[type=text]::-webkit-input-placeholder,.p-contact__form .cf7__list dd textarea::-webkit-input-placeholder{
  color:grey;
}
.p-contact__form .cf7__list dd .wpcf7-checkbox,.p-contact__form .cf7__list dd .wpcf7-radio{
  display:block;
  padding:15px 0 10px;
}
.p-contact__form .cf7__list dd .wpcf7-list-item{
  display:block;
  margin:0;
}
.p-contact__form .cf7__list dd .wpcf7-list-item:nth-child(n+2){
  margin-top:18px;
}
.p-contact__form .cf7__list dd .wpcf7-list-item label{
  cursor:pointer;
}
.p-contact__form .cf7__optional,.p-contact__form .cf7__required{
  border-radius:.2rem;
  color:#fff;
  font-size:1rem;
  margin-right:1rem;
  padding:.2rem .4rem;
}
.p-contact__form .cf7__required{
  background:#cb0014;
}
.p-contact__form .cf7__optional{
  background:#007dcb;
}
.p-contact__form .cf7__select{
  position:relative;
}
.p-contact__form .cf7__select:before{
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  border-top:8px solid #000;
  content:"";
  height:0;
  pointer-events:none;
  position:absolute;
  right:20px;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  width:0;
  z-index:10;
}
.p-contact__form .cf7__select select{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  background:#f4f4f4;
  color:#a5a5a5;
  padding:19px 20px;
  width:100%;
}
.p-contact__form .cf7 input[type=checkbox],.p-contact__form .cf7 input[type=radio]{
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;
  border:1px solid #bcbcbc;
  cursor:pointer;
  height:18px;
  margin-right:8px;
  position:relative;
  vertical-align:-3px;
  width:18px;
}
.p-contact__form .cf7 input[type=checkbox]:checked{
  background:#000;
  border:1px solid #000;
}
.p-contact__form .cf7 input[type=checkbox]:checked:before{
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  content:"";
  height:10px;
  left:5px;
  position:absolute;
  top:2px;
  -webkit-transform:rotate(50deg);
          transform:rotate(50deg);
  width:6px;
}
.p-contact__form .cf7 input[type=radio]{
  border-radius:50%;
}
.p-contact__form .cf7 input[type=radio]:checked:before{
  background:#000;
  border-radius:50%;
  content:"";
  height:9px;
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  width:9px;
}
.p-contact__form .cf7__button{
  margin-top:2rem;
  padding-left:72px;
  text-align:center;
}
.p-contact__form .cf7__button input[type=submit]{
  background-color:#4d4d4d;
  border:2px solid #4d4d4d;
  color:#fff;
  height:60px;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  width:26rem;
}
.p-contact__form .cf7__button input[type=submit]:hover{
  background-color:#fff;
  color:#4d4d4d;
}
.p-contact__form .cf7__text{
  margin-left:2rem;
  margin-right:2rem;
  margin-top:2rem;
}
.p-contact__form .cf7__text a{
  color:#333;
  text-decoration:underline;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
}
.p-contact__form .cf7__text a:hover{
  text-decoration:none;
}
.p-contact__form .wpcf7-spinner{
  vertical-align:middle;
}
.p-contact__form .wpcf7-form-control-wrap{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:100%;
  width:100%;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
.p-contact__form .wpcf7-not-valid-tip{
  font-size:1.2rem;
  margin-top:.5rem;
}
.p-pro_single__imgbox{
  margin-bottom:2rem;
  width:100%;
}
.p-pro_single__h1{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
}
.p-pro_single__h1-label,.p-pro_single__h1-value{
  font-weight:bold;
}
.p-pro_single__h1-label{
  font-size:1.4rem;
}
.p-pro_single__h1-value{
  font-size:2.6rem;
  line-height:1.2;
  margin-top:.5rem;
}
.p-pro_single__features{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  gap:.5rem;
  margin-top:1rem;
}
.p-pro_single__features li{
  background-color:#666;
  color:#fff;
  font-size:1rem;
  font-weight:bold;
  line-height:1.2;
  padding:.5rem 1rem;
}
.p-pro_single__price{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  gap:.5rem;
  margin-top:1rem;
  -webkit-box-align:baseline;
      -ms-flex-align:baseline;
          align-items:baseline;
  -webkit-box-pack:start;
      -ms-flex-pack:start;
          justify-content:flex-start;
}
.p-pro_single__price-label,.p-pro_single__price-value{
  font-size:1.8rem;
}
.p-pro_single__price-value-tax{
  font-size:1.4rem;
}
.p-pro_single__jan{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-top:.5rem;
}
.p-pro_single__splide{
  margin-top:2rem;
  position:relative;
}
.p-pro_single__splide .splide__track{
  overflow:hidden;
}
.p-pro_single__splide .splide__slide{
  position:relative;
}
.p-pro_single__splide .splide__slide img{
  display:block;
  height:auto;
  -o-object-fit:cover;
     object-fit:cover;
  width:100%;
}
.p-pro_single__splide .splide__arrows{
  height:0;
  left:0;
  position:absolute;
  top:50%;
  width:100%;
  z-index:1;
}
.p-pro_single__splide .splide__arrows .splide__arrow{
  background:transparent;
  height:50px;
  position:absolute;
  top:50%;
  -webkit-transform:translateY(-50%);
          transform:translateY(-50%);
  width:40px;
}
.p-pro_single__splide .splide__arrows .splide__arrow:hover{
  opacity:.7;
}
.p-pro_single__splide .splide__arrows .splide__arrow svg{
  display:none;
}
.p-pro_single__splide .splide__arrows .splide__arrow:before{
  border-right:2px solid #fff;
  border-top:2px solid #fff;
  content:"";
  display:block;
  height:30px;
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%, -50%) rotate(45deg);
          transform:translate(-50%, -50%) rotate(45deg);
  width:30px;
}
.p-pro_single__splide .splide__arrows .splide__arrow--next{
  right:15px;
}
.p-pro_single__splide .splide__arrows .splide__arrow--prev{
  left:15px;
}
.p-pro_single__splide .splide__arrows .splide__arrow--prev:before{
  -webkit-transform:translate(-50%, -50%) rotate(-135deg);
          transform:translate(-50%, -50%) rotate(-135deg);
}
.p-pro_single__splide .splide__pagination{
  bottom:-2rem;
}
.p-pro_single__splide .splide__pagination .splide__pagination__page{
  background:#ccc;
  height:30px;
  margin:0 5px;
  width:30px;
}
.p-pro_single__splide .splide__pagination .splide__pagination__page.is-active{
  background:#333;
  -webkit-transform:scale(1.2);
          transform:scale(1.2);
}
.p-pro_single__productimages{
  display:grid;
  gap:2rem;
  grid-template-columns:repeat(2, 1fr);
  margin-top:2rem;
}
.p-pro_single__productimages img{
  display:block;
  height:auto;
  width:100%;
}
.p-pro_single__contentbox .p-pro_single__features,.p-pro_single__contentbox .p-pro_single__h1,.p-pro_single__contentbox .p-pro_single__jan,.p-pro_single__contentbox .p-pro_single__price{
  display:none;
}
.p-pro_single__contentbox__h2{
  color:#4d4d4d;
  font-size:1.8rem;
  margin-top:4rem;
}
.p-pro_single__contentbox__catchphrase,.p-pro_single__contentbox__introduction{
  margin-top:2rem;
}
.p-pro_single__contentbox__table-wrapper{
  overflow-x:auto;
  width:100%;
  -webkit-overflow-scrolling:touch;
  margin-top:2rem;
  position:relative;
  scrollbar-color:#888 #f1f1f1;
  scrollbar-width:thin;
}
.p-pro_single__contentbox__table-wrapper::-webkit-scrollbar{
  height:6px;
}
.p-pro_single__contentbox__table-wrapper::-webkit-scrollbar-track{
  background:#f1f1f1;
  border-radius:3px;
}
.p-pro_single__contentbox__table-wrapper::-webkit-scrollbar-thumb{
  background:#888;
  border-radius:3px;
}
.p-pro_single__contentbox__table-wrapper::-webkit-scrollbar-thumb:hover{
  background:#555;
}
.p-pro_single__contentbox__table{
  border-collapse:collapse;
  min-width:600px;
  width:100%;
}
.p-pro_single__contentbox__table td,.p-pro_single__contentbox__table th{
  border:1px solid #ddd;
  line-height:1.6;
  padding:1rem;
}
.p-pro_single__contentbox__table th{
  background:#f5f5f5;
  font-weight:bold;
  text-align:left;
  vertical-align:top;
  white-space:nowrap;
  width:25%;
}
.p-pro_single__contentbox__table td{
  background:#fff;
}
.p-pro_single__contentbox__table td p{
  margin:0;
}
.p-pro_single__contentbox__table td p:not(:first-child){
  margin-top:.5rem;
}
.p-pro_single__contentbox__table-more{
  border:1px solid #e3e1db;
  color:#333;
  display:block;
  margin-top:2rem;
  padding:1rem 0;
  text-align:center;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  width:100%;
}
.p-pro_single__contentbox__table-more:hover{
  opacity:.7;
}
.p-pro_single__contentbox__attention,.p-pro_single__contentbox__warning{
  font-size:1.2rem;
  margin-top:2rem;
  text-align:justify;
}
.p-pro_single__contentbox__pamphlet{
  margin-top:4rem;
  text-align:justify;
}
.p-pro_single__contentbox__pamphlet,.p-pro_single__contentbox__pamphlet a{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
}
.p-pro_single__contentbox__pamphlet a{
  background-color:#e6e6e6;
  color:#000;
  font-size:1.4rem;
  gap:1rem;
  padding:5rem 1rem;
  -webkit-transition:all .3s linear;
  transition:all .3s linear;
  width:100%;
}
.p-pro_single__contentbox__pamphlet a img{
  width:4rem;
}
.p-pro_single__contentbox__pamphlet a:hover{
  opacity:.7;
}
.p-pro_single__contentbox__relatedproducts{
  display:grid;
  gap:2rem;
  grid-template-columns:repeat(2, 1fr);
}
.p-pro_single__contentbox__relatedproducts img{
  display:block;
  height:auto;
  width:100%;
}
.p-pro_single__contentbox__relatedproducts__h2{
  color:#4d4d4d;
  font-size:1.8rem;
  margin-bottom:2.5rem;
  margin-top:10rem;
  text-align:center;
}
.p-pro_single__contentbox__relatedproducts li p{
  margin-top:1rem;
}

.p-404{
  padding:8rem 2rem;
  text-align:center;
}
.p-404__inner{
  margin:0 auto;
  max-width:60rem;
}
.p-404__title{
  color:#4d4d4d;
  font-size:8rem;
  font-weight:bold;
  line-height:1;
}
.p-404__text{
  color:#4d4d4d;
  font-size:1.6rem;
  margin-top:2rem;
  text-align:center;
}
.p-404__button{
  margin-top:4rem;
}
.p-404__link{
  background-color:#4d4d4d;
  color:#fff;
  display:inline-block;
  font-size:1.6rem;
  padding:1.5rem 4rem;
  text-decoration:none;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.p-404__link:hover{
  opacity:.8;
}

.p-search__title{
  color:#4d4d4d;
  margin-bottom:4rem;
  text-align:center;
}

.p-products__category-name,.p-search__query{
  color:#cb0014;
}
.p-products__categories{
  margin-bottom:4rem;
}
.p-products__category-list{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
  gap:1rem;
          justify-content:center;
}
.p-products__category-item{
  list-style:none;
}
.p-products__category-link{
  background-color:#e3e1db;
  border-radius:.4rem;
  color:#4d4d4d;
  display:inline-block;
  padding:.8rem 1.6rem;
  text-decoration:none;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.p-products__category-link:hover{
  background-color:#4d4d4d;
  color:#fff;
}
.p-products__no-results{
  color:#4d4d4d;
  font-size:1.6rem;
  text-align:center;
}

.u-sp{
  display:block;
}

.u-sp-inline{
  display:inline-block;
}

.u-pc,.u-pc-inline{
  display:none;
}

.u-white{
  color:#fff;
}

.u-black{
  color:#333;
}

.u-tac{
  text-align:center;
}

.u-tar{
  text-align:right !important;
}

.u-marker{
  text-decoration:underline !important;
}

.u-bold{
  font-weight:bold;
}
@media only screen and (min-width:768px){
  body{
    font-size:1.6rem;
  }
  main{
    margin-top:14.8rem;
  }
  main.p-fp{
    margin-top:10.9rem;
  }
  main.single-products{
    margin-top:9.8rem;
  }
  .l-base{
    width:min(calc(100% - 30px), 990px);
  }
  .l-base,.l-wide{
    margin-left:auto;
    margin-right:auto;
  }
  .l-wide{
    width:min(calc(100% - 30px), 1336px);
  }
  .c-h1{
    font-size:2.2rem;
    margin-bottom:4rem;
  }
  .c-h1,.c-h1.-bdb{
    padding-bottom:4rem;
  }
  .c-products__list{
    gap:4rem;
    grid-template-columns:repeat(4, 1fr);
  }
  .c-products__pagination{
    gap:1.5rem;
    margin-top:6rem;
  }
  .c-products__pagination .page-numbers{
    height:5rem;
    width:5rem;
  }
  .c-category__list{
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(4, 1fr);
  }
  .p-hdr__slide{
    height:5.4rem;
  }
  .p-hdr__slide ul li{
    font-size:1.4rem;
    font-size:1.2rem;
  }
  .p-gnav li a,.p-hdr__search .p-search-form input[type=text]{
    font-size:1.8rem;
  }
  .p-insta{
    margin-top:6rem;
  }
  .p-insta__h1{
    font-size:2.2rem;
  }
  .p-ftr__logo a{
    height:3rem;
  }
  .p-ftr__txt{
    font-size:1.5rem;
  }
  .p-ftr__sns li a{
    height:4.5rem;
  }
  .p-ftr__inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
    gap:0 3rem;
            justify-content:space-between;
  }
  .p-ftr__txt{
    font-size:1.4rem;
    font-size:1.9rem;
  }
  .p-ftr__tel-box__h1{
    font-size:1.7rem;
  }
  .p-ftr__tel-box__tel{
    font-size:2.6rem;
  }
  .p-ftr__tel-box__txt{
    font-size:1.6rem;
  }
  .p-ftr__btm-box{
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
    height:5rem;
            justify-content:space-between;
    margin-top:5rem;
  }
  .p-ftr__btm-box,.p-ftr__nav{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
  }
  .p-ftr__nav{
    gap:.5rem 1.5rem;
  }
  .p-ftr__cr,.p-ftr__nav li a{
    font-size:1.4rem;
  }
  .p-ftr__cr{
    margin-top:0;
  }
  .p-calender{
    margin:0;
  }
  .p-calender__h1{
    font-size:1.8rem;
  }
  .p-calender .xo-event-calendar table .month-header .calendar-caption{
    font-size:2rem;
  }
  .p-calender .calendars{
    padding:2rem 2rem 0;
  }
  .p-calender .holiday-titles .holiday-title{
    font-size:1.8rem;
    font-size:1.6rem;
  }
  .p-fp__mv__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(2, 1fr);
  }
  .p-fp__newproducts{
    padding-right:1rem;
  }
  .p-fp__newproducts__title{
    font-size:1.8rem;
  }
  .p-fp__newproducts__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(2, 1fr);
  }
  .p-fp__newproducts__more{
    margin-top:6rem;
  }
  .p-fp__products__title{
    font-size:1.8rem;
  }
  .p-privacypolicy__h1{
    font-size:2.2rem;
    margin-bottom:4rem;
    padding-bottom:4rem;
  }
  .p-privacypolicy__text{
    font-size:1.8rem;
  }
  .p-privacypolicy__contact p{
    text-align:left;
  }
  .p-company__dl{
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    gap:.8rem 4rem;
    margin-left:auto;
    margin-right:auto;
    width:70rem;
  }
  .p-company__dl dd,.p-company__dl dt{
    font-size:1.8rem;
    font-size:1.4rem;
  }
  .p-company__dl dt{
    width:30%;
  }
  .p-company__dl dd{
    width:calc(70% - 4rem);
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
    text-align:left;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
  }
  .p-contact__h1{
    font-size:2.2rem;
    margin-bottom:4rem;
    padding-bottom:4rem;
  }
  .p-contact__form-att{
    font-size:1.4rem;
  }
  .p-contact__form .cf7__list{
    gap:.8rem 2rem;
  }
  .p-contact__form .cf7__list dt{
    width:35%;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-box-pack:start;
        -ms-flex-pack:start;
            justify-content:flex-start;
  }
  .p-contact__form .cf7__list dt:nth-of-type(n+2){
    margin-top:0;
  }
  .p-contact__form .cf7__list dt:last-of-type{
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
  }
  .p-contact__form .cf7__list dd{
    margin-top:0;
    width:calc(65% - 2rem);
  }
  .p-contact__form .cf7__list dd:nth-of-type(n+2){
    margin-top:0;
  }
  .p-contact__form .cf7__list dd:last-of-type .wpcf7-not-valid-tip{
    margin:0;
    top:.79rem;
  }
  .p-contact__form .cf7__optional,.p-contact__form .cf7__required{
    font-size:1.2rem;
    margin-left:auto;
    margin-right:0;
  }
  .p-contact__form .cf7__button input[type=submit]{
    height:50px;
    width:19rem;
  }
  .p-contact__form .cf7__text{
    text-align:center;
  }
  .p-contact__form .wpcf7-not-valid-tip{
    background-color:#cc0015;
    border-radius:.2rem;
    bottom:0;
    color:#fff;
    font-size:1.4rem;
    font-size:1rem;
    height:-webkit-fit-content;
    height:-moz-fit-content;
    height:fit-content;
    margin:auto;
    padding:.5rem 1rem;
    position:absolute;
    right:1rem;
    top:0;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
  }
  .p-pro_single__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(2, 1fr);
  }
  .p-pro_single__productimages{
    gap:1rem;
    grid-template-columns:repeat(3, 1fr);
  }
  .p-pro_single__contentbox__h2{
    font-size:2.2rem;
  }
  .p-pro_single__contentbox__catchphrase,.p-pro_single__contentbox__introduction{
    font-size:1.4rem;
  }
  .p-pro_single__contentbox__table tr.js-accordion-content{
    display:table-row;
  }
  .p-pro_single__contentbox__table td,.p-pro_single__contentbox__table th{
    font-size:1.4rem;
  }
  .p-pro_single__contentbox__table-more{
    display:none;
  }
  .p-pro_single__contentbox__relatedproducts{
    gap:1rem;
    grid-template-columns:repeat(4, 1fr);
  }
  .p-pro_single__contentbox__relatedproducts__h2{
    font-size:2.2rem;
  }
  .p-pro_single__contentbox__relatedproducts li p{
    font-size:1.4rem;
  }
  .p-404{
    padding:12rem 2rem;
  }
  .p-404__title{
    font-size:12rem;
  }
  .p-404__text{
    font-size:1.8rem;
  }
  .p-404__button{
    margin-top:6rem;
  }
  .p-404__link{
    font-size:1.8rem;
    padding:2rem 5rem;
  }
  .p-search__title{
    font-size:2.4rem;
  }
  .p-products__categories,.p-search__title{
    margin-bottom:6rem;
  }
  .p-products__category-list{
    gap:2rem;
  }
  .p-products__category-link{
    padding:1rem 2rem;
  }
  .p-products__no-results{
    font-size:1.8rem;
  }
  .u-sp,.u-sp-inline{
    display:none;
  }
  .u-pc{
    display:block;
  }
  .u-pc-inline{
    display:inline-block;
  }}
@media only screen and (min-width:1020px){
  html{
    scroll-padding-top:18rem;
  }
  main{
    margin-top:26rem;
  }
  main.p-fp{
    margin-top:17.9rem;
  }
  main.single-products{
    margin-top:19rem;
  }
  .c-h1{
    font-size:2.2rem;
    margin-bottom:4rem;
  }
  .c-h1,.c-h1.-bdb{
    padding-bottom:4rem;
  }
  .c-category__list{
    gap:4rem;
  }
  .p-hdr__slide ul li{
    font-size:1.4rem;
  }
  .p-hdr__inner{
    gap:0 6rem;
    height:12.4rem;
  }
  .p-gnav{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
  }
  .p-hdr__search{
    display:block;
  }
  .p-hdr__search .site-header__search-btn,.p-hdr__site-nav{
    display:none;
  }
  .p-insta{
    margin-top:8.4rem;
  }
  .p-insta__inner{
    margin-left:auto;
    margin-right:auto;
    width:min(100%, 144rem);
  }
  .p-insta__h1{
    margin-bottom:3.5rem;
  }
  .p-ftr__inner{
    margin-left:auto;
    margin-right:auto;
    width:min(100%, 120rem);
  }
  .p-ftr__info{
    width:min(100%, 50rem);
  }
  .p-ftr__tel-box__tel{
    font-size:3.8rem;
  }
  .p-ftr__tel-box__txt br{
    display:none;
  }
  .p-ftr__btm-box{
    margin-left:auto;
    margin-right:auto;
    width:min(100%, 120rem);
  }
  .p-fp__mv__splide{
    margin-top:0;
  }
  .p-fp__mv__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(1, 1fr);
  }
  .p-fp__newproducts__splide{
    margin-top:0;
  }
  .p-fp__newproducts__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(1, 1fr);
  }
  .p-fp__newproducts__list{
    margin-top:2rem;
  }
  .p-fp__newproducts__more{
    margin-top:7rem;
  }
  .p-fp__newproducts__more a{
    font-size:1.6rem;
  }
  .p-fp__products__list{
    margin-top:1.7rem;
  }
  .p-fp__products__list ul>li em{
    font-size:1.6rem;
    padding-left:3rem;
  }
  .p-fp__products__list ul>li em:after{
    font-size:2.4rem;
    line-height:1;
  }
  .p-fp__products__list ul>li>ul li a{
    font-size:1.6rem;
    padding-left:3rem;
  }
  .p-contact__h1,.p-privacypolicy__h1{
    font-size:2.2rem;
    margin-bottom:4rem;
    padding-bottom:4rem;
  }
  .p-contact__form .cf7__list dt{
    padding:1rem 2rem;
    width:30rem;
  }
  .p-contact__form .cf7__list dd{
    width:calc(100% - 32rem);
  }
  .p-pro_single{
    display:grid;
    gap:0 4.5rem;
    grid-template-columns:repeat(2, 1fr);
  }
  .p-pro_single__h1,.p-pro_single__imgbox .p-pro_single__features,.p-pro_single__imgbox .p-pro_single__jan,.p-pro_single__imgbox .p-pro_single__price{
    display:none;
  }
  .p-pro_single__h1-label{
    font-size:1.6rem;
  }
  .p-pro_single__h1-value{
    font-size:3.2rem;
  }
  .p-pro_single__features{
    gap:1rem 1rem;
  }
  .p-pro_single__features li{
    font-size:1.4rem;
  }
  .p-pro_single__splide{
    margin-top:0;
  }
  .p-pro_single__splide-wrapper{
    display:grid;
    gap:0 2rem;
    grid-template-columns:repeat(1, 1fr);
  }
  .p-pro_single__productimages{
    gap:3rem;
    grid-template-columns:repeat(2, 1fr);
    margin-top:4rem;
  }
  .p-pro_single__contentbox .p-pro_single__h1{
    color:#4d4d4d;
    -webkit-box-align:start;
        -ms-flex-align:start;
            align-items:flex-start;
    font-size:1.8rem;
  }
  .p-pro_single__contentbox .p-pro_single__features,.p-pro_single__contentbox .p-pro_single__h1,.p-pro_single__contentbox .p-pro_single__jan,.p-pro_single__contentbox .p-pro_single__price{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
  }
  .p-pro_single__contentbox__catchphrase,.p-pro_single__contentbox__introduction{
    font-size:1.6rem;
  }
  .p-pro_single__contentbox__table-wrapper{
    margin-top:1rem;
  }
  .p-pro_single__contentbox__relatedproducts{
    gap:4.5rem;
    grid-template-columns:repeat(3, 1fr);
  }
  .p-pro_single__contentbox__relatedproducts__h2{
    margin-top:5.5rem;
  }
  .p-404{
    padding:16rem 2rem;
  }
  .p-404__title{
    font-size:16rem;
  }
  .p-404__text{
    font-size:2rem;
  }
  .p-search__title{
    font-size:1.8rem;
  }
  .p-products__categories,.p-search__title{
    margin-bottom:8rem;
  }
  .p-products__no-results{
    font-size:2rem;
  }}
@media only screen and (min-width:1020px) and (min-width:768px){
  .p-pro_single__contentbox .p-pro_single__h1{
    font-size:2.2rem;
  }}
@media only screen and (min-width:){
  .p-hdr__logo img{
    height:2.5rem;
  }}
@media screen and (max-width:767px){
  .p-contact__form .cf7__button input[type=submit]{
    height:56px;
    width:180px;
  }}
/*# sourceMappingURL=style.css.map */