//---------- 幅 ----------
$width: 990px;
$width-wide: 1336px;
$width-m-sp: 15px; // スマホ左右マージン

//---------- 色の設定 ----------
$color_font: #333333; // 基本文字色
$color_light-gray1: #E3E1DB; // サイトカラー
$color_light-gray2: #F5F5F5; // サイトカラー
$color_dark-gray: #4D4D4D; // サイトカラー
$color_red: #CB0014; // サイトカラー
$color_placeholder: #808080; // プレースホルダー色