//---------- 幅 ----------
$width: 990px;
$width-wide: 1336px;
$width-m-sp: 15px; // スマホ左右マージン

//---------- 色の設定 ----------
$color_font: #333333; // 基本文字色
$color_light-gray1: #E3E1DB; // サイトカラー
$color_light-gray2: #F5F5F5; // サイトカラー
$color_dark-gray: #4D4D4D; // サイトカラー
$color_red: #CB0014; // サイトカラー
$color_placeholder: #808080; // プレースホルダー色

//---------- 製品カテゴリーの色の設定 ----------
$color_laser: #0081d2; // レーザー機器
$color_measuring: #b35c7f; // 測定・測量機器
$color_vacuum_cleaner: #0195df; // バキュームクリーナー
$color_hand_tool: #c47e24; // 作業工具
$color_knife_knife_saw_scissor: #50963e; // ナイフ・鑢・作業用ハサミ
$color_led_light: #014499; // LEDライト
$color_toolbag_toolholder: #923d4a; // ツールバッグ・ツールホルダー
$color_boring_cuttingtool: #7f097a; // 先端工具
$color_fastening: #477d38; // ファスニング
$color_workingglove: #be004f; // 安全用品
$color_safetysupplies: #6169af; // ケミカル製品・その他
$color_chemicalproducts: #88a53b; // ケミカル製品・その他